<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PySwear</title>

        <!-- Chartkick.js -->
        <script src="http://www.google.com/jsapi"></script>
        <script src="{{ url_for('static', filename='bower_components/chartkick/chartkick.js') }}"></script>

        <!-- JQuery -->
        <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js' ) }}"></script>

        <!-- Boostrap-css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap-css/css/bootstrap.min.css') }}">
        <script src="{{ url_for('static', filename='bower_components/bootstrap-css/js/bootstrap.min.js') }}"></script>

        <!-- Boostrap  -->
        <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.js') }}"></script>
        <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/less/bootstrap.less') }}">

        <!-- Fullpage.js -->
        <script src="{{ url_for('static', filename='bower_components/fullpage.js/jquery.fullPage.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/fullpage.js/jquery.fullPage.css') }}">
        <script src="{{ url_for('static', filename='bower_components/fullpage.js/vendors/jquery.easings.min.js') }}"></script>

    </head>
    {% block body %}

    {% endblock %}
<!-- Footer -->
<div class="footer navbar-fixed-bottom" align="center" style="background:#F5F5F5">
    <p class="text-muted">Author <a href="https://twitter.com/ThisIsJackEvans">@ThisIsJackEvans</a></p>
</div>
</html>
